<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>修改二手書資料</title>
</head>

<body>
    <h1>修改二手書資料</h1>

    <form action="/updateBook" method="post">

        <input type="hidden" name="id" th:value="${book.id}">

        <label>書名：</label>
        <input type="text" name="title" th:value="${book.title}" required><br><br>

        <label>價格：</label>
        <input type="number" name="price" th:value="${book.price}" required><br><br>

        <label>作者：</label>
        <input type="text" name="author" th:value="${book.author}" required><br><br>

        <label>對應課程：</label>
        <input type="text" name="courseName" th:value="${book.courseName}" required><br><br>

        <label>指導教授：</label>
        <input type="text" name="professor" th:value="${book.professor}" required><br><br>

        <button type="submit">儲存修改</button>
    </form>

    <br>
    <a href="/">取消，回到首頁</a>

</body>

</html>